<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SPAM || HAM Tutor Team</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <!-- Home -->
    <section class="container-home">
      <div class="container container-home">
        <div class="row">
          <div class="col-lg-4 order-sm-1 ps-4">
            <div class="card" style="width: 30rem; height: 300px">
              <div class="sketchfab-embed-wrapper text-center my-auto">
                <iframe
                  title="Vendetta-mask-set"
                  frameborder="0"
                  allowfullscreen
                  mozallowfullscreen="true"
                  webkitallowfullscreen="true"
                  allow="autoplay; fullscreen; xr-spatial-tracking"
                  xr-spatial-tracking
                  execution-while-out-of-viewport
                  execution-while-not-rendered
                  width="500px"
                  height="300px"
                  style="border-radius: 5px"
                  web-share
                  src="https://sketchfab.com/models/c00ce3a188bb4e31838534ce4fee0038/embed?autostart=1"
                >
                </iframe>
              </div>
            </div>
          </div>
          <div class="col-lg-7 align-self-center justify-content-md-center pe-5 title">
            <h2 class="my-3">Tugas Besar Mata Kuliah Kecerdasan Mesin</h2>
            <h5 class="my-3">Kami membuat sebuah <i>web app</i> untuk mendeteksi apakah email yang kita terima adalah sebuah spam atau ham.</h5>
            <div class="my-3">
              <p style="line-height: 0.5em">Yehezkiel David Setiawan - 2172003</p>
              <p style="line-height: 0.5em">Thoriq Hidayansyah - 2172019</p>
              <p style="line-height: 0.5em">Tabitha Emmanuella Kotambunan - 2172021</p>
              <p style="line-height: 0.5em">Willyandie Saputra - 2172023</p>
              <p style="line-height: 0.5em">Cristianto Tri Arthurito - 2172027</p>
              <p style="line-height: 0.5em">Raafi Septyanto - 2172041</p>
            </div>
            <a href="{{ url_for('test') }}" class="btn btn-primary w-50"><i>Let's Try</i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Home -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>
